<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Text Predictor</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Text Predictor</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </nav>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>successfully entered!</strong> do amazing things.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="container">
        <form action='/result' , method='post'> {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Enter your text here</label>
                <div id="suggestions">

                </div>
                <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="9"></textarea>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" name="Business" type="checkbox" id="flexSwitchCheckDefault1">
                <label class="form-check-label" for="flexSwitchCheckDefault">Business</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" name="Tech" type="checkbox" id="flexSwitchCheckDefault2">
                <label class="form-check-label" for="flexSwitchCheckDefault">Tech</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" name="Sports" type="checkbox" id="flexSwitchCheckDefault3">
                <label class="form-check-label" for="flexSwitchCheckDefault">Sports</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" name="Entertainment" type="checkbox" id="flexSwitchCheckDefault4">
                <label class="form-check-label" for="flexSwitchCheckDefault">Entertainment</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" name="Politics" type="checkbox" id="flexSwitchCheckDefault5">
                <label class="form-check-label" for="flexSwitchCheckDefault">Politics</label>
            </div>
            <button type='submit' class="btn btn-dark">Analyse text</button>
        </form>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
</body>
<!-- <script>
    var btn1 = document.createElement("BUTTON");
    var btn2 = document.createElement("BUTTON");
    var btn3 = document.createElement("BUTTON");
    var btn4 = document.createElement("BUTTON");
    var btn5 = document.createElement("BUTTON");

    //  btn.backgroundcolor ="#000000";   // Create a <button> element
    btn1.innerHTML = "1";
    btn1.onclick = function() {
        document.getElementById("exampleFormControlTextarea1").value = this.innerHTML
    }
    document.getElementById("suggestions").appendChild(btn1);
    btn2.innerHTML = "2";
    btn2.onclick = function() {
        document.getElementById("exampleFormControlTextarea1").value = this.innerHTML
    }
    document.getElementById("suggestions").appendChild(btn2);
    btn3.innerHTML = "3";
    btn3.onclick = function() {
        document.getElementById("exampleFormControlTextarea1").value = this.innerHTML
    }
    document.getElementById("suggestions").appendChild(btn3);
    btn4.innerHTML = "4";
    btn4.onclick = function() {
        document.getElementById("exampleFormControlTextarea1").value = this.innerHTML
    }
    document.getElementById("suggestions").appendChild(btn4);
    btn5.innerHTML = "5";
    btn5.onclick = function() {
        document.getElementById("exampleFormControlTextarea1").value = this.innerHTML
    }
    document.getElementById("suggestions").appendChild(btn5);
</script> -->

</html>